.card {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.paragraph {
  font-family: 'Roboto';
  color: #000000;
  font-size: 16px;
}

.button {
  height: 30px;
  width: 100px;
  border: 2px solid #ff0b37;
  background-color: #ffffff;
  color: #ff0b37;
  font-family: 'Roboto';
  margin-left:50px;
  border-radius:10px;
}
